@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
<<<<<<< HEAD
    --background: #0a0a0a;
    --foreground: #ededed;
=======
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
>>>>>>> 4b15a8921ef300b8a44c21441116220c0765be8c
  }
}

body {
<<<<<<< HEAD
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
=======
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
>>>>>>> 4b15a8921ef300b8a44c21441116220c0765be8c
}
